<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Chat With Me</title>
  </head>
  <body>
    <div class="container">
      <div class="lord-puddington">
        <h1>Lord Sebastian Frederick Puddington, IV</h1>
        <div class="pic"></div>
        <div class="response">

        </div>
      </div>


    <form class="chat" action="" method="">
      <h5>Speak to Lord Puddington, peasant.</h5>
      <input type="text" name="chat message" value="">
      <button type="submit" name="button"></button>
    </form>



  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
  <script src="/script.js" charset="utf-8"></script>
  </body>
</html>
